[submodule "_vim/bundle/python-mode"]
	path = _vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/minibufexpl"]
	path = _vim/bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "_vim/bundle/jedi-vim"]
	path = _vim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "_vim/bundle/ctrlp.vim"]
	path = _vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/vim-powerline"]
	path = _vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
